@import "Variables";
@import "Imports";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1 {
  display: flex;
  position: relative;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgb(0, 0, 0)),
    url("https://images.pexels.com/photos/1438761/pexels-photo-1438761.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");   
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 5;   
  h1 {
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-transform: capitalize;
    -webkit-text-stroke: 2px $stroke-color;
    color: $text-color;
  }
  .navbar {
    // background-color: blue;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    // margin: 10px 0;
    width: 100%;
    height: 50px;
    .logo {
      cursor: pointer;
      position: absolute;
      display: flex;
      //   background-color: red;
      height: 50px;
      left: 50px;
      img {
        height: 100%;
      }
    }
    .navlinks {
      // background-color: red;
      position: relative;
      display: flex;
      align-items: center;
      width: 50%;
      left: 20%;
      li {
        list-style: none;
        margin: 50px;
        //   background-color: pink;
        font-size: 1.3rem;
        font-family: "Source Code Pro", monospace;
        letter-spacing: 2px;
        a {
          text-decoration: none;
          color: whitesmoke;
          position: relative;
        }
      }
      a:hover::after {
        content: "";
        position: absolute;
        background-color: yellow;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -20px;
      }
      .search {
        position: relative;
        cursor: pointer;
        height: 20px;
        left: 30px;
      }
      .search:hover {
        transform: scale(1.2);
        transition: transform 250ms ease-in;
      }
    }
  }
}
.box1 video{
    position: absolute;
    top: 0px;
    height: 100vh;
    width:100%;        
    object-fit: cover;     
    // opacity: 80%;
    mix-blend-mode:screen;  
    z-index: -1;
}
.box2 {
  height: 100vh;
  background: url("https://images.pexels.com/photos/3607934/pexels-photo-3607934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
h1{
    position: absolute;
    top:0;
}
.box2 video,.box3 video{
    height: 100vh;
    width:100%;        
    object-fit: cover;     
    // opacity: 80%;
    mix-blend-mode:screen;   
}
.box3 {
  height: 100vh;
  background: url("https://images.pexels.com/photos/3207379/pexels-photo-3207379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
